@import "../node_modules/tui-calendar/dist/tui-calendar.css";
/* You can add global styles to this file, and also import other style files */

.flex {
  display: flex;
}


.tui-full-calendar-weekday-resize-handle, .tui-full-calendar-time-resize-handle {
  display: none;
}

.tui-full-calendar-time-schedule-content {
  border: solid 1px black;
  border-bottom: 3px solid black;
}
